<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.startai.mqsdk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    　　<!--在SDCard中创建与删除文件权限 -->
    　　
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    　　<!--往SDCard写入数据权限 -->
    　　
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--esptouch-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".Login2Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name="cn.com.startai.newUI.ForgetActivity" />
        <activity android:name="cn.com.startai.newUI.RegisterEmailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".util.zxing.ScanActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".util.airkiss.AirkissActivity" />
        <activity android:name=".util.esptouch.EsptouchActivity" />

        <activity android:name=".DeviceControlActivity" />
        <activity
            android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <service android:name=".MyService" />

        <activity
            android:name="cn.com.startai.kp8.activity.Rp86MMasterActivity"
            android:configChanges="locale|orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="cn.com.startai.kp8.activity.BR16IRMasterActivity" />
        <activity android:name="cn.com.startai.kp8.activity.BR16PUMasterActivity" />
        <activity android:name="cn.com.startai.kp8.activity.BR16WPMasterActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".UpdateNickNameActivity"></activity>
        <activity android:name=".network.DeviceScanActivity" />
        <activity
            android:name="cn.com.startai.newUI.ScanLanDeviceActivity"
            android:configChanges="locale|orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.startai.newUI.addDevice.AddDeviceActivity"
            android:configChanges="locale|orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="cn.com.startai.newUI.login.LoginActivity" />
        <activity android:name="cn.com.startai.newUI.WanBindDeviceActivity" />
        <activity android:name="cn.com.startai.newUI.UserInfoActivity" />
    </application>

</manifest>